.burger-menu {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
    padding: 24px 20px;
    background-color: $white-color;
    box-shadow: 0px 1px 3px 0px $container-shadow-color-fourth, 
    0px 2px 4px 0px $button-shadow-color-second, 
    0px 4px 8px 0px $shadow;

    @media screen and (min-width:440px){
        padding: 48px 40px;
    }

    &__contact-links {
        margin-bottom: 64px;
    }

    &__nav-links {
        margin-bottom: 302px;
    }

    &__contact-tel {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-align: left;
        color: $background-color-active;

        @media screen and (min-width:440px) {
            font-size: 34px;
        }
    }

    &__contact-mail {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.16;
        letter-spacing: 0.02em;
        text-align: left;
        color: $secondary-color;

        @media screen and (min-width:440px) {
            font-size: 24px;
        }
    }

    &__social-links {
        display: flex;
        flex-wrap: wrap;
        margin: -10px 0 -10px -10px;
    }

    &__social-link {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-align: left;
        color: $background-color-active;
    }
}


.burger-menu__nav-item {

    &:not(:last-child) {
        margin-bottom: 20px;
        @media screen and (min-width:440px) {
            margin-bottom: 32px;
        }
    }

}

.burger-menu__contact-item {

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.burger-menu__social-item {
    margin: 10px 0 10px 10px;

    &:not(:last-child) {
        border-right: 1px solid $main-color-opacity;
        padding-right: 10px;
    }

}

.burger-menu__nav-link {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: center;

    @media screen and (min-width:440px) {
        font-size: 40px;
    }

    &:active {
        color: $background-color-active;
    }

}


.burger-menu.is-open {
    display: block;
}

