.product {

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
        margin-bottom: 4px;
    }

    &__description {
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        text-align: left;
        color: $secondary-color;
    }

    &__description-wrapper {
        padding: 20px 24px;
        border: 1px solid $border-color-product;
        border-top: none;
    }

    &__thumb {
        position: relative;
        overflow: hidden;
    }

    &__overlay-description {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0 24px;
        transform: translate(-50%, -50%);
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        text-align: left;
        color: $white-color;
    }

    &__image {
        vertical-align: bottom;
    }
}

.product__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px 0px $container-shadow-color-fourth,
            0px 4px 4px 0px $container-shadow-color-third,
            0px 1px 1px 0px $button-shadow-color-first;
    }
}

.product__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color-active;
    opacity: 0.9;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .product__link:hover &,
    .product__link:focus & {
        transform: translateY(0);
    }
}