$background-color-dark : #2F303A;
$background-color-active: #2196F3;
$background-color-section : #F5F4FA;
$main-color: #212121;
$secondary-color: #757575;
$white-color: #FFFFFF;
$white-color-opacity: #FFFFFF1A;
$border-color: #ECECEC;
$border-color-form: #21212133;
$border-color-product: #EEEEEE;
$button-shadow-color-first: #0000001F;
$button-shadow-color-second: #00000014;
$button-shadow-color-third: #0000001A;
$button-shadow-color-fourth: #00000026;
$container-shadow-color-first: #00000033;
$container-shadow-color-second: #00000024;
$container-shadow-color-third: #0000000F;
$container-shadow-color-fourth: #00000029;
$gradient-color: #2F303A66;
$icon-color: #AFB1B8;
$overlay-activity-color: #2F303ACC;
$overlay-color: #00000033;
$input-border-color: #FFFFFF4D;
$form-button-color: #188CE8;
$black-color: #000000;